<head>
  <style type="text/css">
     div.enter{
        border:none;    
        width:100%;
        height:180px;
        word-wrap:break-word;
        display:flex;
        align-items:center;
    }
     div.link {
        border:none;    
        width:40%;
        height:72px;
        word-wrap:break-word;
        display:flex;
        align-items:center;
        margin:right;
        padding-right: 40px;

    }
  </style>
</head>
<h2 style = 'text-align:center;font-family:serif;'>aris website</h2>

<span id = "entrance" style='font-family:serif'>
    <a style='color:black;text-decoration:none;'><div class='enter'></div></a>
    <a style='color:black;text-decoration:none;'><div class='enter'></div></a>
    <a style='color:black;text-decoration:none;'><div class='enter'></div></a>
</span>

<span id= "site" style = 'text-align:center;color:black;background-color:white;font-family:serif;'>
    <br><br>
            <div style='text-align:center;' id='links' class='link'></div>
    <br><br><br>
    <table align="center" width="65%">
        <tr>
            <td style="border-color:grey;border:2px solid black;padding-left:8px">I'm Ari, a theater artist and computer enthusiast working on wide ranging projects.<br>This is my homemade website.<br><br>email:<strong> superarius@gmail.com</strong><br>github: <a target="_blank" href="https://github.com/superarius" style='text-decoration:none;color:black;'><strong>https://github.com/superarius</strong></a><br>send me bitcoin <a target="_blank" href="https://bitref.com/12P5yGUW9gzjff15evZzck58bJPw7sg1Dm" style='text-decoration:none;color:black;'><strong>12P5yGUW9gzjff15evZzck58bJPw7sg1Dm</strong></a></td>
            <td>
                <img style='width:200px;height:auto;' src="https://preview.ibb.co/jTnhKk/mememe.jpg">
            </td>
        </tr>
    </table>
</span>

<script>
var header_links = ["<a target='_blank' href='{% url 'lrt' %}' style='text-decoration:none;color:black;font-family:serif;'>&nbsp;little writings</a>", "<a target='_blank' href='http://www.google.com' style='text-decoration:none;color:black;font-family:serif;'>&nbsp;bitcoin tools</a>", "<a target='_blank' href='{% url 'videos' %}' style='text-decoration:none;color:black;font-family:serif;'>&nbsp;performances</a>"]
var t_d = document.querySelector('.link')
var dummy = document.createElement('div');
dummy.className = 'dummy';
var inSingleLineMode, inMultilineMode;
t_d.innerHTML =header_links[0];
adjustFontSize(t_d, false);
var count = 0;

window.onload = function () {window.setInterval(function(){
        count=count+1;
        if(count%4==0){change_headline();}
}, 2000);
};



function change_headline(){
    i = i+1;
    $("#links").css("visibility", "invisible");
    t_d.innerHTML = header_links[i%3];
    adjustFontSize(t_d, false);
    $('#links').fadeIn(2000);
}

function adjustFontSize(element, singleLine){
    if(!element.innerHTML) return;
    var elementStyle = getComputedStyle(element);        
    dummy.style.font = elementStyle.font;
    initMode(singleLine, function(){ dummy.style.width = elementStyle.width });
    dummy.style.padding = elementStyle.padding;
    dummy.style.boxSizing = elementStyle.boxSizing;
    dummy.innerHTML = element.innerHTML;
    document.body.appendChild(dummy);
    var dummyStyle = getComputedStyle(dummy);  
    
    while(singleLine ? parseInt(dummyStyle.width) < parseInt(elementStyle.width) :
                       parseInt(dummyStyle.height) < parseInt(elementStyle.height)){
        dummy.style.fontSize = parseFloat(dummyStyle.fontSize) + 1 + 'px';
        dummyStyle = getComputedStyle(dummy);                     
    }
    while(singleLine ? parseInt(dummyStyle.width) > parseInt(elementStyle.width) :
                       parseInt(dummyStyle.height) > parseInt(elementStyle.height)){
        dummy.style.fontSize = parseFloat(dummyStyle.fontSize) - 1 + 'px';
        dummyStyle = getComputedStyle(dummy);        
    }    
    element.style.fontSize = dummyStyle.fontSize;
    document.body.removeChild(dummy);
}
function initMode(singleLine, callback){
    if(!dummy) return;
    if(singleLine&&!inSingleLineMode) {
        dummy.style.whiteSpace = 'nowrap';
        dummy.style.width = 'auto';
        dummy.style.display = "inline-block";
        inSingleLineMode = true;
        inMultiLineMode = false;
    }
    else if(!singleLine&&!inMultilineMode) {
        if(callback) callback();
        dummy.style.whiteSpace = 'initial';
        dummy.style.display = "block";
        dummy.style.wordWrap = 'break-word';
        inMultilineMode = true;
        inSingleLineMode = false;
    }
}
</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>