<body style='text-align:center;'>
<h3 style="text-align:right;"><a href="{% url 'home' %}" style="text-decoration:none;color:black;">back home</a></h3>
<h1>Videos</h1>

<p><strong>the feels... (KMS) 2017 at New Ohio Theater, NYC</strong></p>
<iframe src="https://player.vimeo.com/video/242768475" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><br><br>
Written by Jeremy O Harris. Presented as a part of American AF Festival<br>with: Madeline Wise, Jonathan Higginbotham, Alexander Paris, Aleah Quiñones, Greogry Cuellar, and Jordan Bellow.
<br><br>
<p><strong>GUESTS: a gestural ballet at Brown University</strong></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/wk0RoPs2_yM?rel=0" frameborder="0" allowfullscreen></iframe><br><br>
Concieved and Performed by: Anna Musselman, Eve Blazo, Ursula Raasted, Shawn Salzburg, <br>Christopher Fitzsimmons, Gerrit Thurston, Patrick McGowan, Shawn Salzburg


